body {
    font-family: Arial, sans-serif;
    background-color: #022243;
    color: white;
}

.footer {
    padding: 20px;
    text-align: center;
    width: 100%;
}

.footer img {
    width: 100px;
    margin: 0 10px;
}

.light-mode {
    background-color: white;
    color: black;
}

.light-mode .footer img {
    filter: invert(0);
}
