body {
  font-family: Arial, sans-serif;
  background-color: black;
}

.footer {
  padding: 20px;
  text-align: center;
  width: 100%;
}

/* .footer img {
    width: 100px;
    margin: 0 10px;
} */

.card-img {
  background-color: black;
  width: 475px;
  height: 225px;
  border-radius: 14px;
  padding: 8px;
  border: solid 1px black;
}
.imgf5 {
  width: 85px;
  height: 65px;
}
.imgNgeek {
  width: 220px px;
  height: 100px;
}

.card-info1 {
  background-color: black;
  width: 45%;
  margin-right: 5px;
  height: 434px;
  border-radius: 14px;
  padding: 8px;
  border: solid 1px #fff;
  overflow-y: scroll;
  overflow-x: scroll;
  color: white;
}
.card-info2 {
  background-color: #000;
  width: 45%;
  margin-left: 5px;
  height: 450px;
  /* border-radius: 14px; */
  padding: 8px;
  border: solid 1px black;
  overflow-y: scroll;
  overflow-x: scroll;
  display: flex;
  color: white;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
}
.subcar-info3 {
  background-color: black;
  /* width: 45%; */
  /* margin-left: 5px; */
  height: 80px;
  border-radius: 14px;
  padding: 4px;
  border: solid 1px #fff;
  overflow-y: scroll;
  overflow-x: scroll;
  /* margin: 5px 0; */
}

.FlexH {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.FlexDivInf {
  display: flex;
  justify-content: center;
  align-items: center;
}
