<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GSLB App</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
      id="theme"
    />
  </head>
  <body id="body">
    <!-- <select id="opciones">
      <option value="Ngeek" selected>Ngeek</option>
      <option value="AWS">AWS</option>
      <option value="Azure">Azure</option>
      <option value="GCP">GCP</option>
    </select> -->
    <div>
      <h1 class="FlexH">GSLB App</h1>

      <div class="card"></div>
    </div>
    <div class="FlexDivInf">
      <div class="card-info1">
        <p>{{ headerssss }}</p>
      </div>
      <section class="card-info2">
        <section class="subcar-info3"><p>Navegando hacia Azure</p></section>
        <section class="subcar-info3"><p>ip: {{ ip_address }}</p></section>
        <section class="subcar-info3">
          <p>Nombre del host: {{ hostname }}</p>
        </section>
      </section>
    </div>
    <!-- <script src="{{ url_for('static', filename='js/script.js') }}"></script> -->
  </body>
  <footer class="Flexfoot">
    <img
      class="imgNgeek"
      src="{{ url_for('static', filename='images/azureLogo.png') }}"
      alt="Ngeek Tipografía"
    />
    <h4 style="color: black">© 2024 Ngeek</h4>
    <img
      class="imgf5"
      src="{{ url_for('static', filename='images/f5-logo.png') }}"
      alt="F5 Logo"
    />
  </footer>
</html>
