body {
  font-family: Arial, sans-serif;
  background-color: #4285f4;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}
p {
  /* padding: 10px; */
  margin: 0;
  text-align: center;
}
/* Estilos base */
.imgf5 {
  width: 8%;
  transition: transform 0.5s ease; 
  animation: scaleAnimation 2.5s infinite; 
}

.imgNgeek {
  width: 20%;
  transition: transform 0.5s ease; 
  animation: scaleAnimation 2.5s infinite; 
}

@keyframes scaleAnimation {
  0% { transform: scale(1); } 
  50% { transform: scale(1.1); } 
  100% { transform: scale(1); }
}

.card-info1 {
  background-color: black;
  width: 45%;
  margin-right: 5px;
  height: 434px;
  border-radius: 14px;
  padding: 8px;
  border: solid 1px #fff;
  overflow-y: scroll;
  overflow-x: scroll;
  color: white;
}
.card-info2 {
  background-color: #4285f4;
  width: 70%;
  margin-left: 5px;
  height: 450px;
  padding: 8px;
  border: none;
  overflow-y: scroll;
  overflow-x: scroll;
  display: flex;
  color: white;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
}
.subcar-info3 {
  background-color: rgb(0, 0, 0);
  font-size: 25px;
  border-radius: 14px;
  height: 50px;
  padding: 15px;
  border: solid 1px #fff;
  overflow-y: scroll;
  overflow-x: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
}

.FlexH {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.FlexDivInf {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Flexfoot {
  border-radius: 90px 90px 0 0;
  background-color: #d5d5d5;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 0 20px 0;
  margin: auto 0 0;
}
