body {
  font-family: Arial, sans-serif;
  background-color: #FF9900;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.imgf5 {
  width: 45px;
  height: 45px;
}
.imgNgeek {
  width: 80px;
}

.card-info1 {
  background-color: #FF9900;
  width: 45%;
  margin-right: 5px;
  height: 434px;
  border-radius: 14px;
  padding: 8px;
  border: solid 1px #fff;
  overflow-y: scroll;
  overflow-x: scroll;
  color: white;
}
.card-info2 {
  background-color: #FF9900;
  width: 45%;
  margin-left: 5px;
  height: 450px;
  padding: 8px;
  border: none;
  overflow-y: scroll;
  overflow-x: scroll;
  display: flex;
  color: white;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
}
.subcar-info3 {
  background-color: black;
  height: 80px;
  border-radius: 14px;
  padding: 4px;
  border: solid 1px #fff;
  overflow-y: scroll;
  overflow-x: scroll;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.FlexH {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

/* .FlexH {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4285F4;
  text-shadow: 1px 1px 0 white, -1px 1px 0 white, 1px -1px 0 white,
    -1px -1px 0 white;
} */

.FlexDivInf {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Flexfoot {
  background-color: #d5d5d5;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px 0 0 0;
  margin:  auto 0 0;
}

/* Estilos para el select */
/* #opciones {
  padding: 8px;
  border-radius: 8px;
  border: solid 1px white;
  background-color: #4285F4;
  color: white;
  font-size: 16px;
} */
